<div class="bg-dark">
  <div class="container setPadding">
    <div class="row">
      <div class="col text-center text-white">
        <h4>VN|<small>techlabs</small></h4>
      </div>
    </div>
    <br />
    <div class="row m-2">
      <div class="col text-center text-white">
        <h1>Influencer Compaign Cost Calculater</h1>
      </div>
    </div>
    <div class="row bg-white p-3">
      <div class="col text-center">
        <p>
          <strong
            >Fill out the fields below and press calculate to see your total
            cost</strong
          >
        </p>
      </div>
    </div>
    <div class="row bg-white pb-3">
      <div class="col-12 col-lg-3 text-left">
        <label class="form-label"><strong>Vertical Type</strong></label>
        <select
          name="verticalType"
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="verticalTypeSelection"
          #verticalType="ngModel"
          ngModel
        >
          <option [ngValue]="undefined" disabled selected>
            Select Vertical Type
          </option>
          <option
            [ngValue]="verticalType.VerticalRate"
            *ngFor="let verticalType of verticalTypes"
          >
            {{ verticalType.VerticalName }}
          </option>
        </select>
      </div>
    </div>
    <div class="row bg-white pb-3" *ngFor="let element of NumberOfCompaigns">
      <hr />
      <div class="col-6 col-lg-3 text-left">
        <label class="form-label"><strong>Influencer Tier</strong></label>
        <select
          name="influencerType"
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="element.influencerTypeSelection"
          #influencerType="ngModel"
          ngModel
        >
          <option [ngValue]="0" disabled selected>
            Select Influencer Tier Type
          </option>
          <option
            [ngValue]="influencerType.TierID"
            *ngFor="let influencerType of influencerTypes"
          >
            {{ influencerType.InfluencerName }}
          </option>
        </select>
      </div>
      <div class="col-6 col-lg-3 text-left">
        <label class="form-label"><strong>No. of Influencers</strong></label>
        <input
          class="form-control"
          type="number"
          name="numberOfInfluencers"
          [(ngModel)]="element.TotalInfluencers"
          #numberOfInfluencers="ngModel"
          ngModel
        />
      </div>
      <div class="col-6 col-lg-3 text-left">
        <label class="form-label"><strong>Types of Activation</strong></label>
        <select
          name="activationType"
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="element.activationTypeSelection"
          #activationType="ngModel"
          ngModel
        >
          <option [ngValue]="0" disabled selected>
            Select Activation Type
          </option>
          <option
            [ngValue]="activationType.BasePrice"
            *ngFor="let activationType of activationTypes"
          >
            {{ activationType.ActivationLabel }}
          </option>
        </select>
      </div>
      <div class="col-6 col-lg-3 text-left">
        <label class="form-label"><strong>No. of Activations</strong></label>
        <input
          class="form-control"
          type="number"
          name="numberOfActivations"
          [(ngModel)]="element.TotalActivations"
          #numberOfActivations="ngModel"
          ngModel
        />
      </div>
    </div>
    <div class="row bg-white pb-3">
      <div class="col-8 col-lg-8 pt-4">
        <button
          type="button"
          class="btn btn-success pt-1"
          (click)="AddRow(true)"
          [disabled]="!verticalType.value"
        >
          Add Row
        </button>
        <a> | </a>
        <button
          type="button"
          class="btn btn-danger pt-1"
          (click)="AddRow(false)"
          [disabled]="NumberOfCompaigns.length == 1"
        >
          Delete Row
        </button>
      </div>
      <div class="col-4 col-lg-4 pt-4 text-end">
        <button
          type="button"
          class="btn btn-primary pt-1"
          (click)="calculateCost()"
          [disabled]="!verticalType.value"
        >
          CALCULATE
        </button>
      </div>
    </div>
    <div
      class="row bg-white"
      style="border-bottom: 7px solid rgb(122, 116, 116)"
    ></div>
    <div class="row bg-white">
      <div class="col-12 col-lg-6 text-center p-5 pt-3 fs-5 pb-1">
        <label class="form-label"><strong>Total Cost</strong></label>
      </div>
      <div class="col-12 col-lg-6 text-center p-5 pt-0 pb-1 fs-1">
        <strong>${{ totalCost | number: "1.2-2" }}</strong>
      </div>
    </div>
    <br />
    <br />
  </div>
</div>
